@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --header-height: 3rem;
  }

  html,
  body,
  #root {
    @apply font-Pretendard bg-gray-100;
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-screen-md;
  }

  .header {
    @apply fixed top-0 left-0 z-50 w-full bg-white text-sm;
    height: var(--header-height);
  }

  .content {
    @apply p-4 bg-white min-h-screen;
    padding-top: var(--header-height);
  }

  .btn {
    @apply px-4 py-2 rounded-lg transition-all duration-300;
  }

  .label {
    @apply block text-sm font-medium w-1/4;
  }

  .formInput {
    @apply bg-gray-50 border-gray-300 text-gray-900 text-sm rounded-xl focus-visible:ring-0 focus:ring-primary focus:border-primary flex-1;

  .flex-center {
    @apply flex justify-center items-center;
  }

  .column-center {
    @apply flex flex-col justify-center items-center;
  }

  .contact-group {
    @apply flex flex-col items-center justify-center gap-5;
  }

  .title {
    @apply text-xl text-higtlight tracking-wider mb-5;
  }

  .sub-title {
    @apply text-xs text-higtlight;
  }

  .preview-layout {
    @apply max-w-[480px] mx-auto rounded-2xl m-10 shadow-md;
  }

  .result-layout {
    @apply max-w-[480px] mx-auto flex flex-col gap-32 pt-10 pb-40 bg-background rounded-2xl;

  }
}

@layer utilities {
}}